.container__header-principal {
    background-image: url("../img/Forma\ 1.svg");
    background-repeat: no-repeat;
    height: 295px;
}

.header__lista {
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 3em;
}

.header__lista-item a {
    padding: 2em 0.5em 0 3em;
}

.mover__titular-rodape {
    position: relative;
    bottom: 130px;
}

@media screen and (min-width: 768px) {
    .container__header {
        background-image: url("../img/Forma\ 1-maior.svg");
        background-repeat: no-repeat;
        height: 70vh;
    }

    .logo__branco-menor {
        display: inline-block;
        margin-left: 4em;
    }
}
